[MASTER]
ignore=.venv,venv,build,dist,__pycache__,.git,.mypy_cache,.pytest_cache,htmlcov
ignore-patterns=^setup\.py$,^docs/.*,^notebooks/.*,^data/raw/.*
ignore-paths=tests,alembic
load-plugins=pylint.extensions.docstyle,pylint.extensions.docparams,pylint.extensions.mccabe,pylint.extensions.set_membership
extension-pkg-allow-list=pandas,numpy
persistent=yes
jobs=0

[MESSAGES CONTROL]
disable =
    C0103,  # naming estricto
    C0415,  # import inside function permitido
    R0801,  # duplicate-code
    W1203,  # permitir f-strings en logging
    W1510,  # subprocess-run-check
    C0114   # missing-module-docstring

[REPORTS]
output-format=colorized
score=yes
fail-under=8

[FORMAT]
max-line-length=88
indent-string='    '
expected-line-ending-format=LF

[BASIC]
good-names=i,j,k,x,y,z,df,db,np,pd,id,ok,fn,ex
bad-names=foo,bar,baz
function-rgx=[a-z_][a-z0-9_]{2,30}$
method-rgx=[a-z_][a-z0-9_]{2,30}$
attr-rgx=[a-z_][a-z0-9_]{2,30}$
argument-rgx=[a-z_][a-z0-9_]{2,30}$
variable-rgx=[a-z_][a-z0-9_]{2,30}$
const-rgx=([A-Z_][A-Z0-9_]*)|(__.*__)
module-rgx=([a-z_][a-z0-9_]*)|(__.*__)
class-rgx=[A-Z][a-zA-Z0-9]+$

[TYPECHECK]
ignored-modules=pandas,numpy,sqlalchemy,sqlalchemy.orm,sqlalchemy.sql.functions
ignored-classes=numpy.*,pandas.*,sqlalchemy.*

[DOCSTRING]
docstring-min-length=10
accept-no-param-doc=no
accept-no-return-doc=no

[DESIGN]
max-args=7
max-returns=6
max-branches=12
max-locals=15
max-statements=60
max-public-methods=30
min-public-methods=0
max-module-lines = 1000

[STRING]
check-str-concat-over-line-jumps=yes

[SIMILARITIES]
min-similarity-lines=6
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes

[EXCEPTIONS]
overgeneral-exceptions=builtins.Exception

[MISCELLANEOUS]
notes=FIXME,XXX,TODO,BUG,HACK
